<%-include('./common/header-source.ejs')%>
<div class="container">
  <%-include('./common/header.ejs')%>
  <section>
    <div class="content-wrap">
      <div class="content-top">
        <div>
          <div class="post-list">게시글 목록</div>
          <div class="post-total">15개</div>
        </div>
        <div class="post-btn-wrap">
          <button type="button" class="post-btn btn btn-primary">게시글 등록</button>
        </div>
      </div>
      <ul class="content-ul">
        <li>
          <a href="/">
            <div class="content-box">
              <div class="title">제목</div>
              <div class="writer-wrap">
                <div class="writer">유저 이름</div>
                <span></span>
                <div class="register-time">방금전</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/">
            <div class="content-box">
              <div class="title">제목</div>
              <div class="writer-wrap">
                <div class="writer">유저 이름</div>
                <span></span>
                <div class="register-time">방금전</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/">
            <div class="content-box">
              <div class="title">제목</div>
              <div class="writer-wrap">
                <div class="writer">유저 이름</div>
                <span></span>
                <div class="register-time">방금전</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/">
            <div class="content-box">
              <div class="title">제목</div>
              <div class="writer-wrap">
                <div class="writer">유저 이름</div>
                <span></span>
                <div class="register-time">방금전</div>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="/"><</a></li>
          <li class="page-item active"><a class="page-link">1</a></li>
          <li class="page-item"><a class="page-link" href="/">2</a></li>
          <li class="page-item"><a class="page-link" href="/">></a></li>
        </ul>
      </nav>
    </div>
  </section>
  <%-include('./common/footer.ejs')%>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/index.js"></script>
